.jumbotron{
  font-family: 'Shift', sans-serif;
  font-size: 50px;
  background-image: url("http://th03.deviantart.net/fs71/PRE/i/2012/064/1/1/chibi_totoro_by_dragon_flame13-d4rs1ox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 505px;
}

.container h1 {
  color: #8d6a95;
  font-size: 60px;
  padding-left: 100px:
}

.jumbotron h4 {
  color: #f4bebe;
  padding-left: 200px;
}


.links a{
  color: #8d6a95;
}

.links li{
  font-family: 'Shift', sans-serif;
  font-size: 30px;
  display: inline;
  padding-left: 100px

}

.p {
  color: #bfbde3;
  padding-left: 10px;
  padding-top: 20px
}
