.jumbotron{
  font-family: 'Shift', sans-serif;
  font-size: 50px;
  background-color: #f8f8df;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  padding: 20px 40px 40px 20px;
}

.jumbotron h1 {
  color: #8d6a95;
}

.jumbotron h4 {
  color: #f4bebe;
}


.links a{
  color: #8d6a95;
}

.links li{
  font-family: 'Shift', sans-serif;
  font-size: 30px;
  display: inline;

}
