.links {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #f8dff8;
  background-size: cover;
  box-shadow:10px 10px 50px 20px #f8f8df inset;
}

.links li{
  font-family: 'Shift', sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: inline;
}

.links a{
  color: #a86b80;
}
