.links {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8df;
  background-size: cover;
}

.links li{
  font-family: 'Shift', sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: inline;
}

.links a{
  color: #a86b80;
}
